<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
  <body>
    <%- include('partials/nav', {currentPage: 'home'}) %>

    <main class="pure-g">
      <div class="pure-u-sm-1">
        <div class="splash-container">
          <div class="splash">
            <h1 class="splash-head">Welcome to Vext.io!</h1>
            <p class="splash-subhead">Start by logging in or registering</p>
            <p>
              <a href="/register" class="pure-button button-xlarge">Register</a>
            </p>
          </div>
        </div>
      </div>
    </main>

  </body>
</html>
