<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
<%- include('partials/nav', {currentPage: 'users'}) %>
<main class="pure-g">
  <div class="pure-u-sm-1">
    <h1>User Management</h1>
  </div>
  <div id="message" class="pure-u-sm-1 center"></div>
  <div class="pure-u-sm-1">
    <table id="response_table" style="display: none;" class="pure-table pure-table-bordered ">
      <thead>
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Role</td>
          <td>Enabled</td>
        </tr>
      </thead>
      <tbody class="pure-table-striped" id="response"></tbody>
    </table>
  </div>
</main>

<script src="/static/users.bundle.js" charset="utf-8"></script>
</body>
</html>
